
@import "./partials/fonts";
@import "./partials/layouts";
@import "./partials/mixins";


*{
    @include include-in-all();
}

.nav-bar{
    @include navigation-bar();

    &__title{
        @include navigation-bar-title;
    }
    &__link{
        @include navigation-bar-link;
    }
    &__list{
        @include navigation-bar-list;
    }
    &__options{
        @include navigation-bar-options;
    }

    &__item{
        @include navigation-bar-item;

        &--selected{
            @include navigation-bar-item-selected;
        }
    }
    
}

    


.hero{
        display: block;
        background-image: url("../assets/images/hero-bio.jpg");
        background-size: cover;
        background-position: right center;
        display: flex;
        @include mobile{
            height: 10vh;
            margin-top: 1.5rem;

            
        }
        @include tablet{
            height: 20vh;

        }
        @include desktop{
            height: 20vh;

        }

  

    &__band-name{
        font-weight: 500;

        color: white;
        @include mobile{
            @include padding-mobile();
            font-size: 2rem;

            
        }
        @include tablet{
            @include padding-desktop();
            font-size: 4rem;
            margin-left: 2rem;
            font-size: 3.5rem;
        }
        @include desktop{
            @include padding-desktop();
            font-size: 4rem;
            margin-left: 5rem;
            padding:1rem;

        }
        
    }
    &__overlay{
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:100vw;
        @include mobile{
            margin-top:0.7rem;
        }
       
        
    }       
}


.content{
    color: $band-site-black;
    background-color:#FFFFFF;

    &__div{
        display:flex;
        justify-content: center;
        margin-left:1rem;
        margin-right:1rem;
        @include tablet{
            padding-left: 3rem; 
            padding-right: 1rem; 

        }

 
    }



    &__title{
        font-weight: 600;

        @include mobile{
            @include padding-mobile();
            font-size: 2rem;

        }
        @include tablet{
            padding-left: 3rem; 
            padding-top: 3rem;            
            padding-bottom: 1.5rem;            

            font-size: 2.25rem;

        }
        @include desktop{
            @include padding-desktop();
            margin-left:4rem;
            font-size: 2.5rem;
        }
    }
    &__main-image{
        
        background-size: cover;
    
        @include mobile{
            height: 30vh;
            width: 100%;
        }
        @include tablet{
            padding-left: $desktop-padding-between-components;
            padding-right: $desktop-padding-between-components;
            height: 45vh;
            width: 100%;
        }
        @include desktop{

            height: 50vh;
            width: 65%;

        }
    }
    &__quote{
        font-weight: 600;
        @include mobile{
            @include padding-mobile();
            font-size: 1rem;
            font-style: bold;
        }
        @include tablet{
            padding-top: 2rem;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 1rem;

            margin-left:4rem;
            margin-right:3rem;
            font-size: 1.5rem;

        }
        @include desktop{
            padding-left: $desktop-padding-between-components;
            padding-right: $desktop-padding-between-components;    
            margin-left:12rem;
            margin-right:22rem;
            font-style: bold;

            margin-top:2rem;
            font-size: 1.5rem;
        }
    }
    &__quote-lead{
        font-weight: 600;

        @include mobile{
            padding-left: $mobile-padding-between-components;
            padding-right: $mobile-padding-between-components;
            padding-bottom: $mobile-padding-after-headlines;
            font-style: bold;
            font-size: 1rem;
            font-style: bold;


        }
        @include tablet{
            padding-left: $desktop-padding-between-components;
            padding-right: $desktop-padding-between-components; 
            padding-bottom: $desktop-padding-after-headlines;
            margin-left:4rem;


        }
        @include desktop{
            padding-left: $desktop-padding-between-components;
            padding-right: $desktop-padding-between-components;    
            padding-bottom: $desktop-padding-after-headlines;
            margin-top: 1rem;
            font-size: 1rem;
            margin-left:12rem;

 
        }
    }   


    &__background{
        display: flex;

        @include mobile{
            flex-direction: column;

        }
        @include tablet{
            flex-direction: row;
            margin-right:6rem;
            margin-left:4rem;

        }
        @include desktop{
            flex-direction: row;
            margin-left: 14rem;
            margin-right: 14rem;

        }
        
    }
    &__background-title{
        @include mobile{
            padding-left: $mobile-padding-between-components;
            padding-right: $mobile-padding-between-components; 
            padding-top: $mobile-padding-before-headlines;
            font-weight: 600;

            font-size: 1.25rem;
        }
        @include tablet{
            padding-left: $desktop-padding-between-components;
            padding-right: $desktop-padding-between-components;  
            margin-left:4rem;
      
        }
        @include desktop{
            padding-left: $desktop-padding-between-components;
            padding-right: $desktop-padding-between-components;
            margin-left: 12rem;

        }
    }

    &__background-information{
        @include mobile{
            @include padding-mobile();
            font-size: 1rem;
            
        }
        @include tablet{
            margin-top:2rem;
            margin-bottom:2.5rem;
            margin-left: 2rem;
     

        }
        @include desktop{
            padding-bottom: $mobile-padding-after-headlines;
            padding-top: $mobile-padding-before-headlines;
            margin-bottom: 1rem;
            margin-right: 2rem;

            
        }
    }


    
    &__photo-gallery{
        background-color: #FAFAFA;
        @include mobile{
            padding-bottom: $mobile-padding-after-headlines;
            padding-right: $mobile-padding-between-components;
            padding-left: $mobile-padding-between-components

                }
        @include tablet{
            display: flex;
            flex-direction: row;
            padding-bottom: $desktop-padding-after-headlines;
            padding-right: $desktop-padding-between-components

        }
        @include desktop{
            display: flex;
            flex-direction: row;
            padding-left:10rem;
            padding-right:10rem;
            padding-bottom: 1rem;
        }
    }

   
    &__photo-title{
        background-color:  #FAFAFA;
        @include mobile{
            @include padding-mobile();
            padding-bottom:0px;
            font-size: 2rem;
            font-style: bold;

        }
        @include tablet{
            padding-bottom:0px;
            padding-top:3rem;
            padding-left: 2rem;
            font-size:2.5rem;
            font-weight:700;
            font-style:bold;
        }
        @include desktop{
            @include padding-desktop();
            padding-bottom:0px;
            font-size: 2rem;
            margin-top:1rem;
            padding-left:8rem;

        }
        
    }
    &__photo{

        background-size: cover;
        
        @include mobile{
            padding-top: 0.85rem;
            height: 14rem;
            width: 100%;
    
        }
        @include tablet{
            padding-top: $mobile-padding-before-headlines;
            padding-left: $desktop-padding-between-components;

            height: 12rem;
            width: 100%;       
         }
        
         @include desktop{
            padding:1rem;
            //@include padding-desktop();            
            height: 14rem;
            width: 100%;   
         }
    }

}



//COMMENT AREA
.comments{
    @include mobile{
        padding: 1rem 1rem;

    }
    @include tablet{
        padding: 3rem;
    }
    @include desktop{
        padding: 3rem 10rem;

    }
    &__around-icon{
        padding:1rem;
    }

    &__title{
        @include tablet{
            font-size: 2rem;
            font-weight: 700;
        }
        @include desktop{
            font-size: 3.25rem;
        font-weight: 600;
            font-style:bold;
        }
       
    }
    &__area{
        background-color: white;

        display: flex;
        flex-direction: column;
        border-bottom: 3px solid $mercury;
        @include tablet{
            width: 80vw;
            display: flex;
            margin-left:4rem;

        }
        @include desktop{
            width: 35vw;
            display: flex;
            align-items: center;
            margin-left:20rem; 

        }
    }
    &__icon-area{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-bottom: 1rem;


        @include tablet{
            margin-left: 3rem;
        }
        @include desktop{
            margin-bottom: 0rem;
            display: flex;
            width: 80vw;
            justify-content: center;
        }

    }
    &__text{
        height: 10vh;
        font-size: 1rem;
        color: $band-site-dark-black;
        background-color: $mercury;
        border-radius: 4px;
        padding:1rem;
        border: 4px $band-site-black;
        @include tablet{
            width: 70vw;
        }
        @include desktop{
            width: 30vw;
        }
    }
    &__name{
        margin-bottom: 0.5rem;
        font-size: 0.75rem;
        height: 4vh;
        font-size: 1rem;
        color: $band-site-dark-black;
        background-color: $mercury;
        border-radius: 4px;
        border: 4px $band-site-black;
        
        padding-left: 1rem;
        @include tablet{
            width: 70vw;
        }
        @include desktop{
            width: 30vw;
        }
    }
    &__name-comment{
        margin-bottom: 0.5rem;
        height: 4vh;
        color: $band-site-black;
        border-radius: 4px;
        font-size: 1rem;
        font-style: none;
        

    }
    &__date{
        font-size: 1rem;
        color: lightgrey;
        margin-right: 1rem;
        font-weight: 300;

    }
    &__text-title{

        color: lightgrey;
        font-size: 1rem;
        padding-top:1rem;
        padding-bottom:0.5rem;
        @include desktop{
            width: 30vw;
        }

    }
    &__icon-box{
        width: 10vw;
        @include tablet{
            width: 2.5vw;
            padding-top: 2rem;
            width: 10vw;
            padding-left:2rem;

        }
        @include desktop{
            width: 2.5vw;
            padding-top: 2rem;
            width: 3vw;

        }
        
    }
    &__icon{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-image: url("../assets/images/Mohan-muruge.jpg");
        background-size: cover;
        background-repeat: no-repeat;

    }
    &__icon-gray{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-bottom: 1rem;
        background-color: $mercury;

    }

 
    &__all{

        border-top: 3px solid $mercury;
        display: flex;
        flex-direction: row;
        margin-bottom: 1.5rem;
        @include tablet{
            width:80vw;
        }
        @include desktop{
            width:35vw;
        }

    }

    &__box{
        
        @include tablet{
            width: 100vw;
        }
        @include desktop{
            width: 30vw;
        }

    }
    &__name-area{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1.5rem;
        height: 1vh;
        margin-bottom: 2rem;

        @include desktop{
            width: 30vw;
        }

    }
    &__form{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        width: 80vw;
        @include tablet{
            margin-right: 1rem;
            width: 70vw;

        }
        @include desktop{
            margin-right: 3rem;
            width: 28vw;


        }

    }
    &__content{
        font-size: 1rem;
        width:72vw;
        @include tablet{
            width:65vw;

        }
        @include desktop{
            width:30vw;
            display: flex;
        }

    }
    &__button-area{
     
        @include tablet{
            width:70vw;
            height:10vh;
            display:flex;
            justify-content: flex-end;
        }
        
        @include desktop{
            width:30vw;
            height:10vh;
            display:flex;
            justify-content: flex-end;
        }
    }
    &__button{
        margin-top: 1rem;
        height: 2rem;
        background-color: $band-site-black;
        color:white;
        border: none;
        border-radius: 4px;
        height: 6vh;
        font-size: 1.25rem;
        font-weight: 500;
        font-style: bold;
        width: 80vw;

        @include tablet{
            width: 16vw;
            height: 2rem;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            padding-top: 0.5rem;
            margin-top: 1.5rem;
            margin-bottom: 0.5rem;
      


        }
        @include desktop{
            width: 10vw;
            height: 2.5rem;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            padding-top: 0.75rem;
            margin-top: 1.75rem;
      


        }
    }


}





.information{
    @include footer-information();

    &__copyright-section{
        @include footer-information-copyright-section();
    }
    &__content{
        @include footer-information-content();
    }
    &__content-sections{
        @include footer-information-content-sections();
    }
    &__get-in-touch{
        @include footer-information-get-in-touch(); 
    }
    &__get-in-touch-title{
        @include footer-information-get-in-touch-title();
    }
    &__socials{
        @include footer-information-socials();
    }
    &__social-icon{
        @include footer-information-social-icon();
    }
    &__management{
        @include footer-information-management();
    }
    &__management-title{
        @include footer-information-management-title();
    }
    &__management-email{
        @include footer-information-management-email();
    }
    &__copyright{
        @include footer-information-copyright();
    }
    &__copyright-title{
        @include footer-information-copyright-title();
    }
    &__copyright-title-desktop{
        @include footer-information-copyright-title-desktop();
    }
    &__copyright-content{
        @include footer-information-copyright-title-content();
    }

}